{% extends "base.html" %}

{% block content %}
<section id="hero">
  <div class="container mb-2 mt-2">
    <div class="d-flex flex-column justify-content-center h-100">     
      <span class="text-light display-5 text-center ">Fast and trustful information about our experience</span>
    </div>      
  </div>
</section>


<div class="container text-center mt-5">
    <div class="row justify-content-center p-2">
      <div class="column-md-10 shadow-lg border border-3 border-dark p-3 border-opacity-10 rounded-2 ">
  
        <h3 id="about" class="text-muted">
          who we are
        </h3>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas congue quisque egestas diam in arcu. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Id volutpat lacus laoreet non curabitur. Facilisis leo vel fringilla est ullamcorper eget nulla facilisi. Massa tincidunt nunc pulvinar sapien et ligula. Integer quis auctor elit sed vulputate mi sit. Pellentesque habitant morbi tristique senectus et. Magna eget est lorem ipsum dolor sit amet consectetur. Diam ut venenatis tellus in. Odio ut sem nulla pharetra diam sit amet. Sapien eget mi proin sed libero enim sed.
        </p>
  
      </div>
    </div>
  </div>

  {% endblock %}