{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>blog</title>
    <link href="{% static 'static/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'static/css/style.css' %}" rel="stylesheet">
  </head>
  <body>

  <!--Navbar-->
  <div>
   <nav class="navbar bg-dark fixed-top navbar-expand-sm">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">
        <!--<img src="/static/images/studioblog.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">-->
        studio blog
      </a>
      <button class="navbar-toggler btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon btn btn-light"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
          <a class="nav-link text-light" href="#">About</a>
          <a class="nav-link text-light" href="#">Contact</a>
        </div>
      </div>
    </div>
   </nav>
  </div>


  






  
  